# Sensitive keys
*.pem
*.key
id_rsa
id_ed25519
**/terra-automate-key
**/terra-automate-key.pub
**/terra-automate-key*

# Terraform local and state files
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local environment files
.env
.codex
.DS_Store
